.hero {
  background: none;
  height: 15vh;
}

.navbar {
  position: absolute;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7.5vh 12.5vh;
  gap: 2rem;
}

.main-berita-directory-container {
  display: flex;
  gap: 0.5rem;
}

.main-berita-directory {
  color: var(--main-melon);
}

.main-berita-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.main-berita-img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--main-lightgray);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
}

.main-berita-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.main-berita-info-row {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: var(--main-darkgray);
}

.main-berita-info-container,
.berita-info-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.main-berita-info-container a {
  color: var(--main-melon);
}

.main-berita-info-icon {
  height: 1.5rem;
}

.main-berita-content {
  font-size: 1.1rem;
  color: var(--main-darkgray);
}

.main-berita-container a:hover {
  text-decoration: underline;
}

.berita-lainnya-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.berita-container {
  width: 100%;
  display: flex;
  font-size: 0.85rem;
  display: flex;
  gap: 0.5rem;
}

.berita-img {
  width: 40%;
  height: 17.5vh;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--main-lightgray);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
}

.berita-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.berita-title {
  font-weight: 500;
}

.berita-info-icon {
  height: 1.25rem;
}

.berita-info-container {
  font-size: 0.65rem;
  color: var(--main-darkgray);
}
