table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--main-lightgray);
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: var(--main-verylightgray);
}

.download-btn {
  background: var(--primary-gradient);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
}

.download-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

td > a:hover {
  text-decoration: none !important;
}

.light-gray {
  color: var(--main-lightgray);
}

.melon {
  color: var(--main-melon);
}

.table-container {
  display: flex;
  flex-direction: column;
}
