.hero {
  height: 100vh;
}

.hero-bottom {
  padding-top: 12.5vh;
  height: 85%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.down-arrow {
  height: 2.5rem;
  object-fit: contain;
  animation: bounce 1.5s ease-in-out infinite;
  z-index: 15;
}

.main {
  padding: 15vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15vh;
}

.main-sections {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-header {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.section-header-title {
  padding-left: 2.5%;
}

.section-header-title:hover strong {
  color: var(--main-melon);
}

.hover-reveal {
  font-size: 0.85rem;
  display: none;
  color: white;
  background: var(--primary-gradient);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.section-header-title:hover ~ .hover-reveal {
  display: flex;
}

.main-sections-container {
  width: 95%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.berita-pemerintahan-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.berita-pemerintahan-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.berita-pemerintahan-text {
  color: var(--main-darkgray);
  width: 90%;
}

.berita-pemerintahan-link {
  color: var(--main-melon);
}

.triangle-link-container {
  display: flex;
  gap: 0.25rem;
}

.ai-c {
  align-items: center;
}

.triangle-link-icon {
  width: auto;
  object-fit: cover;
  padding-top: 0.4rem;
}

.small-triangle {
  height: 1rem;
}

.big-triangle {
  padding-bottom: 0.3rem;
  height: 1.75rem;
}

.berita-foto-row,
.berita-container-row {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.berita-foto-container,
.berita-container {
  width: 31.5%;
}

.berita-foto-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.berita-foto-link img {
  width: 100%;
  height: 90%;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--main-lightgray);
  box-shadow: 0 0 0.75rem var(--black-15);
}

.berita-foto-link:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.berita-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--main-offwhite);
  padding: 1.25rem;
  box-shadow: 0 0 0.75rem var(--black-15);
  border-radius: 1rem;
}

.berita-img {
  width: 100%;
  height: 35%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 0.01rem solid var(--main-lightgray);
  border-radius: 0.5rem;
}

.berita-title {
  font-weight: 500;
  min-height: 4.5rem;
  color: var(--main-melon);
}

.berita-info-row {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  color: var(--main-darkgray);
}

.berita-info-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.berita-info-container a {
  color: var(--main-melon);
}

.berita-info-icon {
  height: 1.5rem;
}

.berita-content {
  font-size: 0.9rem;
  color: var(--main-darkgray);
}

.berita-container a:hover {
  text-decoration: underline;
}

.main-text-section-img {
  width: 45%;
  border-radius: 1rem;
  box-shadow: 0 0 0.75rem var(--black-15);
}

.main-text-section-header {
  font-weight: 500;
  font-size: 1.5rem;
}

.main-text-section-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.main-text-section-desc {
  font-size: 0.95rem;
  color: var(--main-darkgray);
}
