@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/opendyslexic/OpenDyslexic-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../fonts/opendyslexic/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-lime: #90c67c;
  --main-melon: #67ae6e;
  --main-emerald: #328e6e;

  --primary-gradient: linear-gradient(
    135deg,
    var(--main-lime),
    var(--main-emerald)
  );

  --darkgray-gradient: linear-gradient(135deg, #3d403c, #242924);
}

[data-theme="light"] {
  --main-white: #ffffff;
  --main-offwhite: #fefefc;
  --main-verylightgray: #f1f1f0;
  --main-lightgray: #999999;
  --main-darkgray: #3d403c;
  --main-charcoal: #242924;
  --black-15: rgba(0, 0, 0, 0.15);
  --black-30: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --main-white: #2f302e;
  --main-offwhite: #3f413f;
  --main-verylightgray: #494a48;
  --main-lightgray: #90968f;
  --main-darkgray: #d6dcd4;
  --main-charcoal: #f4f9f3;
  --black-15: rgba(128, 128, 128, 0.15);
  --black-30: rgba(128, 128, 128, 0.3);
}

[data-theme="dark"] .invert-icons,
[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}

body {
  font-family: "Poppins", serif;
  transition: all 0.5s;
  background-color: var(--main-white);
  color: var(--main-charcoal);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  color: inherit;
}

.display-none {
  display: none !important;
}

.bg-primary-gradient {
  background: var(--primary-gradient);
}

.bg-darkgray-gradient {
  background: var(--darkgray-gradient);
}

.darken-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(40, 68, 48, 0.25);
  z-index: 1;
}

.horizontal-line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--main-lightgray);
}

.vertical-line {
  height: auto;
  width: 0.05rem;
  background-color: var(--main-lightgray);
}

.thin {
  height: 0.05rem;
}

.fd-r {
  flex-direction: row !important;
}

.jc-c {
  justify-content: center !important;
}

.tdu:hover {
  text-decoration: underline;
}

.ai-s {
  align-items: stretch !important;
}

.pr {
  position: relative;
}

.highlighted {
  animation: highlight-fade 3s ease forwards;
}

.jc-sb {
  justify-content: space-between;
}

.df {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start !important;
}

.fd-r {
  flex-direction: row;
}

.h-a {
  height: auto !important;
}
