@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-lime: #90c67c;
  --main-melon: #67ae6e;
  --main-emerald: #328e6e;

  --primary-gradient: linear-gradient(
    135deg,
    var(--main-lime),
    var(--main-emerald)
  );

  --main-white: #ffffff;
  --main-offwhite: #fcfbf8;
  --main-lightgray: #999999;
  --main-darkgray: #384340;
  --main-charcoal: #212629;

  --darkgray-gradient: linear-gradient(
    135deg,
    var(--main-darkgray),
    var(--main-charcoal)
  );
}

body {
  font-family: "Poppins", serif;
  transition: all 0.5s;
  background-color: var(--main-white);
  color: var(--main-charcoal);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.display-none {
  display: none !important;
}

.bg-primary-gradient {
  background: var(--primary-gradient);
}

.bg-darkgray-gradient {
  background: var(--darkgray-gradient);
}

.darken-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(40, 68, 48, 0.25);
  z-index: 1;
}

.horizontal-line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--main-lightgray);
}

.vertical-line {
  height: auto;
  width: 0.05rem;
  background-color: var(--main-lightgray);
}

.thin {
  height: 0.05rem;
}

.fd-r {
  flex-direction: row !important;
}

.jc-c {
  justify-content: center !important;
}
